.main {
  padding: 20px;
  padding-top: 40px;
}

.content-nav {
  display: flex;
  margin: 10px auto;
  width: 350px;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #555;
  font-weight: bold;
}

.content-nav > span {
  cursor: pointer;
}

.content-nav > span:hover {
  color: #eee;
}

.artist {
  display: flex;
  flex-direction: row;
}

.artist-info {
  margin-right: 20px;
}

.table-view {
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.table-view > li {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  background-color: transparent;
  font-size: 16px;
  margin: 20px;
  text-align: center;
}

.table-view > li:hover img {
  -webkit-filter: brightness(0.3);
  filter: brigtness(0.3);
}

.table-view .list-image {
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.table-view .list-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.table-view .list-title {
  margin-top: 10px;
}

.playlist, .album {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.playlist-info, .album-info {
  margin-right: 20px;
  margin-top: 50px;
  padding: 50px 8%;
  box-sizing: border-box;
  position: fixed;
  min-width: 300px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-image {
  position: relative;
  display: inline-block;
  width: 100%;
}

.info-image > img {
  width: 100%;
}

.info-image > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.info-image > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.playlist-info h1, .album-info h1 {
  margin: 10px;
  font-size: 20px;
}

.list-push {
  min-width: 300px;
  width: 50%;
  margin-right: 20px;
}

.song-list {
  width: 100%;
  list-style: none;
  margin-right: 50px;
}

span.button {
  background-color: blueviolet;
  width: 200px;
  margin-top: 20px;
  height: 36px;
  border-radius: 18px;
  border: 1px #333 solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
}

span.button:hover {
  background-color: darkslateblue;
}

