.song-list > li {
  border-bottom: solid 1px rbga(20, 20, 20, 0.8);
}

.song-list > li:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.song-list-play-button {
  width: 35%;
  min-width: 200px;
}

.song-list-album {
  width: 30%;
  text-align: left;
  min-width: 150px;
}

.song-list-artist {
  width: 30%;
  min-width: 150px;
  text-align: right;
}

.song-list-play-button {
  cursor: pointer;
}
.song-list-index {
  opacity: 1;
}

.add-to-playlist {
  margin: 0 5px;
  font-size: 34px;
  cursor: pointer;
}

.add-to-playlist:hover {
  color: #fff;
  transform: scale(1.2);
}

.song-list-play-button:hover .song-list-index {
  opacity: 0;
}
.song-list-play-overlay {
  position: relative;
  top: 1em;
  opacity: 0;
}

.song-list-play-button:hover .song-list-play-overlay {
  opacity: 1;
}

.song-list-play-button {
  display: flex;
  flex-direction: row;
}

.main {
  padding: 20px;
}

.content-nav {
  display: flex;
  margin: 10px auto;
  width: 350px;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #555;
  font-weight: bold;
}

.content-nav > span {
  cursor: pointer;
}

.content-nav > span:hover {
  color: #eee;
}

.artist {
  display: flex;
  flex-direction: row;
}

.artist-info {
  margin-right: 20px;
}

.table-view {
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.table-view > li {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  background-color: #111;
  font-size: 12px;
  margin: 20px;
}

.table-view .list-image {
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.table-view .list-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.table-view .list-title {
  margin-top: 10px;
  margin-left: 10px;
}

.playlist, .album {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.playlist-info, .album-info {
  margin-right: 20px;
  position: fixed;
  min-width: 300px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-image {
  position: relative;
  display: inline-block;
  width: 100%;
}

.info-image > img {
  width: 100%;
}

.info-image > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.info-image > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.playlist-info h1, .album-info h1 {
  margin: 10px;
  font-size: 20px;
}

.list-push {
  min-width: 300px;
  width: 30%;
  margin-right: 20px;
}

.song-list {
  width: 100%;
  list-style: none;
  margin-right: 50px;
}

.song-list li {
  margin: 0;
  height: 3em;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.song-list-index {
  width: 40px;
}

.song-list-title {
  width: 65%;
}

.song-list-artist {
  width: 30%;
}
