html, body, #root, .page {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.login-page {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20%20%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20%20%20%20%20width%3D%221280%22%20height%3D%22844%22%0A%20%20%20%20%20viewBox%3D%220%200%201280%20840%22%3E%0A%20%20%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20/%3E%0A%20%20%20%20%3CfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20/%3E%0A%20%20%20%20%3C/feComponentTransfer%3E%0A%20%20%3C/filter%3E%0A%20%20%3Cimage%20filter%3D%22url%28%23blur%29%22%0A%20%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22data%3Aimage/jpeg%3Bbase64%2C/9j/4AAQSkZJRgABAQEA8ADwAAD//gBtRmlsZSBzb3VyY2U6IGh0dHA6Ly9jb21tb25zLndpa2ltZWRpYS5vcmcvd2lraS9GaWxlOkJlcmxpbi1fQ2h1cmNoX3BpcGVfb3JnYW5fYXRfU3RfTWFyaWVua2lyY2hlXy1fMzIzNS5qcGf/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wgARCAAhADIDAREAAhEBAxEB/8QAGwAAAgIDAQAAAAAAAAAAAAAABAYFBwECAwD/xAAZAQADAQEBAAAAAAAAAAAAAAABAgMEAAX/2gAMAwEAAhADEAAAAaihYqZ6gaqSn6FssHyusLd9OZtw6dCF7VHadkKqOkzMNNgRs9wLrEzpWdmsfs7K6SEaYmxWqMCjod0nAo561PLoFpzrNr+dRap//8QAIxAAAgIBAwMFAAAAAAAAAAAAAgMBBAUAERIGEzQhJDEyNv/aAAgBAQABBQJNYTZNcIYFWOS1S6qQrUy4iVnMeuIHvnBe7GUGqqyHVMjItLMbNrHOxVQkKIYwrVdWy62OXDMSWMMJmvzrcZ1VVHKqYVhtXFI1UyiDsXLneVZCDc7B821vlPndHeJX/Cx4h/TX/8QAHxEAAwABBAMBAAAAAAAAAAAAAAERAhASITEiQWEy/9oACAEDAQE/AYJKi45K8yKE06VYnXWePYmnyZy8Cy3Y6d8DlhPRIoOIm18G36by10w+mTTVWm9m4RiYdj/Z6PWn/8QAJBEAAgIBBAIBBQAAAAAAAAAAAAECERIDECExIkEEEzJCYYH/2gAIAQIBAT8BslJ+iTy4YktLgydtid87St+KHGliip9WSjKPjfBpJ15GLhNr1s3i7E5Vl2N9SaLyllQnKS4M86vaUFdjWKSNT9dmmpRdSF2fTVmJImfM6/jNL7T2flt//8QANBAAAgEDAQQGBwkAAAAAAAAAAQIRAAMhEhMiMUEEMlFxc7EFEIGhwdHwFCNCYXKCkcLh/9oACAEBAAY/AobmMUttlluCmaeJGneXngUtwypc6VHtqzu5O/JoKcN2VzqWE4j/AGr3SW6tkFuPPgPf5VccWNaqvED8p+NfaHtDUhy2mBy+dbS0I2FzYnljiP7VYvac9vZRxzr8SriSiyePfWzs2dKM+ptmdWqJ7TXS1Nm6NbM2pY3AcdWeUVft27VzpIeTtUEAY7Dx4VeumwdjdUEi5ugkZnz/AJrpGhGW1hdJ6qnjgz6lmGQwSCOAFMEGkDAH130HBYAHf2M6o9hqLDX16MFj78Muccpim3Vwfd9TSsmm2jQcLnFOwv3FBMwowK/bTd/yr014bfGrXitQ8JfI1b/UPL1f/8QAJBABAAEEAQQDAAMAAAAAAAAAAREAITFBUWFxkfCBodEgseH/2gAIAQEAAT8hJTSAuOlDeukXNu+6JCd3jJibdR9vVtQgLrJJcaanBwgV39flZ0Cf1SiOXNTVu+Cyy6UwMN2Szj7yHqUINngwTYyWw8s1L/bHBh4HHqaCjEmMBHhk8Y4py5OV1lH+sdagarKk8wZa/kYRK/XanSjoNhgwQSrmbUV3M2sBbHBjVAb+DzgZhuo3LC8lsordLI0ogYALm3aWd97QUy5Kib2Axm3z/dCIsI4XN+4qbigzuzYJvGeaQI4hw7yrP1Q3VEhps/fCmhVQC7CHTEeGpGcjdMHSvX3a9HpT2vFfU8n8EaH/2gAMAwEAAgADAAAAEOn5fWG5skSW+ET3Dgv/AP/EACERAQACAgICAgMAAAAAAAAAAAEAESExEEFRcYHBkeHw/9oACAEDAQE/EIFR2wND7jkfEsAu40w8CJqOEF6LPcEwz+I1ADayYYkRHhAbMVCll31jM2Dv1A+cv94hcO24FLpBUHuCZRXboT9zPojq5QXLztNDg2/P1O3L/8QAJREAAQMDAgYDAAAAAAAAAAAAAQARITFBUXHwEGGRobHBgdHx/9oACAECAQE/EBkjg9AO99kB16PmqjFpOlEAiBwK736QRYpQlFUlkNYAkQE8tcIox3UfqqFG4oPZKRpwCyMhQ4yzHgJ4BYoZjNk1g4jmY7KzgzfoQgwZ0o7cHTR135QACEgANdn9CgPyYN7KNmG6dkMJisVSo7ICpanwrNeL/8QAIxABAQEAAgIBAwUAAAAAAAAAAREhADFBUWEQIPBxkaGxwf/aAAgBAQABPxBxlG9VWL2b/nqE/gRmt9IdhFM2kBv84kVLeGQ+Mek4KzGfAJASp2DLrAbbE1yAxmlfOYb74FTuoto1e9/PbupEWjjJwZSyQR60DvzseRHnAbA8YAZHQ9DzqDcYzB3EMbsrTi2CzE9JRHf1bnkyWeyB69IvUwADhK4dEYJHvW7CRncp6QKPe/pw09KQBXUsVLj0dRzhjw3etxgNL2RYQBMDQ+zB4DxgPLpYUTByaZeuM+xEyxwUxFDZOeqQFRpUVAgMI04tSdyi8nuA6oG3zAnlT4gwC6FWIjvrb6OKPcppLgFxNThl3JkIhEVerr1oewAxQL9kefP54pL1eNUpre7gI8TE72ik06dHwc/p8P4P7IHnXfmPf6f/2Q%3D%3D%22%0A%20%20%20%20%20%20%20%20%20x%3D%220%22%20y%3D%220%22%0A%20%20%20%20%20%20%20%20%20height%3D%22100%25%22%20width%3D%22100%25%22/%3E%0A%3C/svg%3E);
 -webkit-background-size: cover;
 -moz-background-size:  cover;
 background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  color: blueviolet;
  background-position: center center;
}

div.bg-image-enhanced {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url("https://s3.amazonaws.com/baroquen-dev/PipeOrgan.jpg");
}

.form-container {
  padding-right: 30px;
  display: flex;
  align-self: center;
}

.login-information {
  border-left: 1px solid #444;
  padding-left: 30px;
  width: 500px;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.login-information h1 {
  font-size: 50px;
  margin-top: 0;
}

.login-information li {
  color: #ddd;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  color: #ddd;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 30px;
  font-size: 12px;
}

.login-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

.login-form input:focus {
  outline: none;
}

.login-form .submit {
  background-color: blueviolet;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  border: 1px #333 solid;
  cursor: pointer;
}

.login-form .submit:hover {
  background-color: darkslateblue;
}

.login-form-container a {
  color: white;
  font-size: 10px;
  align-self: center;
  margin-top: 10px;
}

.demo, .signup, .login {
  background-color: blueviolet;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  border: 1px #333 solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
}

.signup span {
  text-decoration: none;
  font-size: 16px;
}

a.login {
  text-decoration: none;
  font-size: 16px;
}

.login:hover, .demo:hover, .signup:hover {
  background-color: darkslateblue;
}
