input[type=range] {
  background: transparent;
}

input[type=range].sliders {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range].sliders:focus {
  outline: none;
}
input[type=range].sliders::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: rgba(50, 50, 50, 0);
  border-radius: 3px;
  border: 0;
}
input[type=range].sliders::-webkit-slider-thumb {
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range].sliders::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(50, 50, 50, 0);
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].sliders::-moz-range-thumb {
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: transparent;
  cursor: pointer;
}
input[type=range].sliders::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].sliders::-ms-fill-lower {
  background: rgba(42, 100, 149, 0);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].sliders::-ms-fill-upper {
  background: rgba(48, 113, 169, 0);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].sliders::-ms-thumb {
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  height: 11.4px;
}

div.song-progress-bar:hover input[type=range].sliders::-webkit-slider-thumb {
  background: #111;
}

div.player-controls {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

div.volume-control {
  width: 100px;
  margin-top: 50px;
  margin-right: 50px;
}

div.bottom-bar {
  height: 100%;
}

div.bottom-bar > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.control-push {
  width: 100px;
}

.currentlyPlaying {
  margin-left: 50px;
  display: flex;
  font-size: 18px;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0;
}

.currentlyPlaying img {
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.currentlyPlaying > div {
  display: flex;
  flex-direction: column;
}

.currentlyPlaying > div > a:hover {
  text-decoration: underline;
}

a.currently-playing-album {
  font-size: 14px;
}

.song-controls {
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.song-controls svg {
  width: 20px;
  height: 20px;
  margin: 0 30px;
}

.playable {
  cursor: pointer;
}

.playable:hover {
  transform: scale(1.2);
}

div.song-progress {
  width: 100%;
}

div.song-progress-played {
  background-color: rebeccapurple;
  border-radius: 5px;
  height: 10px;
  position: relative;
  top: -15px;
  z-index: -1;
  margin: 0 5px;
}
 
div.song-progress-total {
  background-color: #222;
  border-radius: 5px;
  width: 290;
  margin: 0 5px;
  height: 10px;
  position: relative;
  top: -25px;
  z-index: -2;
}

.song-progress > .sliders:hover ~ .song-progress-total {
  background-color: #333;
}

div.volume-progress-played {
  background-color: rebeccapurple;
  border-radius: 5px;
  height: 10px;
  position: relative;
  top: -15px;
  z-index: -3;
  margin: 0 5px;
}
 
div.volume-progress-total {
  background-color: #222;
  border-radius: 5px;
  width: 90;
  margin: 0 5px;
  height: 10px;
  position: relative;
  top: -25px;
  z-index: -4;
}

.volume-progress > .sliders:hover ~ .volume-progress-total {
  background-color: #333;
}
